@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.checkbox {
    opacity: 0;
    position: absolute;
  }


.label {
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 25px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #007bc2;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }



/* Modo Claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

body.light-mode .menu, 
body.light-mode .section {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode .nav-link, .btn-login{
    color: #1b1b1b;
}

/* Modo Escuro */
body.dark-mode   {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff00;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

body.dark-mode .btn-login{
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .menu .menu-home , 
body.dark-mode .section .footer-fim {
    background-color: #333333;
    color: #ffffff;
}

/* Alterar cores para branco no modo escuro */
body.dark-mode .h1-titulo-64px,
body.dark-mode .nav-link,
body.dark-mode .h1-carrosel,
body.dark-mode .h1-titulo-1,
body.dark-mode .sub-title,
body.dark-mode .main-title.mb-4,
body.dark-mode .main-title,
body.dark-mode .h1-text,
body.dark-mode .p-text,
body.dark-mode .p2-text {
    color: #ffffff;
}

/* Outros ajustes de cores */
body.dark-mode #nav {
    background-color: #333333;
}

body.dark-mode #footer {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode #btn-green, 
body.dark-mode #btn-green-fim, 
body.dark-mode #btn-green-t7 {
    background-color: #43A046;
    color: #ffffff;
}   

.body {
    font-family: 'Inter', sans-serif;
}

#nav {
    background-color: #F5F7FA;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #00000000;
}

#nav .logo {
    height: 30px;
    width: auto;
}

#nav .nav-link {
    font-weight: 500;
    /* color: #1b1b1b; */ 
    transition: all 0.3s;
}


#nav .btn-primary {
    border-radius: 5px;
    font-weight: 500;

}


#nav .btn-success {
    border-radius: 5px;
    font-weight: 500;

}


.h1-carrosel {
    font-size: 64px;
    color: #4D4D4D;
}

.h2-carrosel {
    font-size: 64px;
    color: #43A046;
}

.h1-titulo-64px {
    font-size: 64px;
    color: #263238;
}

.h1-text {
    font-size: 36px;
    color: #4D4D4D;
}

.h2-text {
    font-size: 36px;
    color: #43A046;
}

.p-text {
    font-size: 16px;
    color: #717171
}

.p2-text {
    font-size: 16px;
    color: #89939E
}

.main-title {
    font-size: 36px;
    color: #4D4D4D;
}

#nome-text {
    font-size: 20px;
    color: #43A046;

}

.sub-title {
    font-size: 16px;
    color: #717171;
}

.card-title {
    font-size: 28px;
    color: #4D4D4D;
}

.card-text {
    font-size: 16px;
    color: #717171;
}

#cards-shadow {
    width: 299px;
    height: 280px;
    border-radius: 8px;
    padding: 24px, 32px, 24px, 32px;
    gap: 8px;
}

#cads-img {
    width: 368px;
    height: 366px;
    border-radius: 8px;
}

#btn-green {
    background-color: #43A046;
    width: 128px;
    height: 52px;
    border-radius: 4px;
    padding: 14px, 32px, 14px, 32px;
    gap: 10px;
}

#btn-green-fim {
    background-color: #43A046;
    width: 178px;
    height: 52px;
    border-radius: 4px;
    padding: 14px, 32px, 14px, 32px;
    gap: 8px;
}

#btn-green-t7 {
    background-color: #F5F7FA;
    color: #43A046;
    height: 44px;
    width: 223px;
    padding: 8px;
    gap: 8px;

}

#cards-container {
    margin-left: 50px;
    margin-right: 50px;
}

#button-nav-r {
    background-color: #43A046;
}

#texto-carrosel {
    padding-top: 130px;
}

#card-body {
    width: 299px;
    height: 260px;
    border-radius: 8px;
    padding: 24px, 32px, 24px, 32px;
    gap: 8px;
}

.card {
    position: relative;
    overflow: hidden;
    /* Para esconder o texto que estiver fora da imagem */
}

#button-card {
    color: #F5F7FA;

}

.card .card-img-overlay {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 85%;
    /* Ajuste a largura conforme necessário */
    height: 30%;
    /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
    padding: 20px;
}

.card .card-img-overlay p {
    margin: 0;
    text-align: center;
    background-color: #F5F7FA;
}

#card-complemento {
    background-color: #F5F7FA;
}


#footer {
    background-color: #263238;
    color: #fff;
    padding: 40px 0;
    /* Espaçamento interno do footer */
}

#footer .logo_footer {
    max-width: 100px;
    /* Largura máxima do logo */
    margin-bottom: 20px;
    /* Margem inferior do logo */
}

#footer h3 {
    font-size: 20px;
}

#footer ul {
    font-size: 14px;
    list-style: none;
    /* Remover marcadores de lista */
    padding: 0;
    /* Remover preenchimento padrão da lista */
}

#footer ul li {
    margin-bottom: 10px;
    /* Espaçamento entre os itens da lista */
}


.social-media-bar {
    /* background-color: #263238; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.social-media-bar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-media-bar a:hover {
    color: #ccc;
}

.social-media-bar img {
    display: block;
}


#input-email {
    background-color: #717171;
    border-color: #717171;
}

.form-control::placeholder {
    color: #D9DBE1;
    font-size: 14px;
}

.btn .fas.fa-paper-plane {
    color: #ffffff;
}

.input-group {
    position: relative;
    background-color: #717171;
}

.input-group-append {
    background-color: #717171;
    position: absolute;
    top: 5;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
